.Home-Mobile {
    width: 100%;
    height: auto;
}

.HOME {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 0.47), transparent, transparent), url('https://i.imgur.com/Aa3bTI8.jpg') no-repeat center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    padding-top: 70px;
}

.logo-names {
    font-size: 13px;
    letter-spacing: 20px;
    margin-top: 1;
    padding-bottom: 90px;
    color: lightcoral;
    font-weight: bolder;
  }