
.about {
width: 100%;
height: 400px;
}

.emptyaboutbox {
    width: 100%;
    height: 80px;
}

.about-banner-container {
    width: 100%;
    height: 600px;
}

.about-clear {
    height: 100%;
    width: 50%;
    float: right;
}

.about-video {
    height: 100%;
    width: 50%;
    position: relative;
    float: right;
}

.about-empty {
    height: 30%;
    width: 91.4%;
    position: absolute;
    border: 4px solid  rgba(243, 237, 237, 0);
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    line-height: 50px;
    padding: 25px 0 0 0px;
    margin-top: 70px;
    font-size: 50px;
}

.whitebehindvideo {
    width: 100%;
    height: 50%;
    position: absolute;
    margin: 0;
}

.thewhitebox {
    margin-top: 40px;
    margin-right: 50px;
    width: 50%;
    height: 100%;
    float: right;
    background-color: rgba(243, 237, 237, 0.47);
}

.ABOUTUSCONTAIN {
    width: 100%;
    height: 1400px;
    margin-top: 100px;
}
.img1 {
    padding: 20px 20px 0px 200px;
    margin-left: 30px;
    border-left: none;
    border-top: 3px solid rgba(243, 237, 237, 0.47);
    border-bottom: 3px solid rgba(243, 237, 237, 0.47);
    border-right:3px solid rgba(243, 237, 237, 0.47);
}
.img2{
    float: right;
    padding: 20px 200px 0px 20px;
    margin-right: 30px;
    border-top: 3px solid rgba(243, 237, 237, 0.47);
    border-bottom: 3px solid rgba(243, 237, 237, 0.47);
    border-left: 3px solid rgba(243, 237, 237, 0.47);
}

.img3 {
    padding: 20px 20px 0px 200px;
    margin-left: 30px;
    border-left: none;
    border-top: 3px solid rgba(243, 237, 237, 0.47);
    border-bottom: 3px solid rgba(243, 237, 237, 0.47);
    border-right:3px solid rgba(243, 237, 237, 0.47);
}

.img1-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;
}

.img2-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.img3-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.allemployees {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.team-cindy {
    height: 100%;
    width: 100%;
    position: relative;
    padding-right: 300px;
    border-left: none;
    border-top: 1px solid rgba(243, 237, 237, 0.47);
    border-bottom: 1px solid rgb(243, 237, 237);
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 40px;
    display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;   
    line-height: 25px;
    letter-spacing: 1px;
}

.team-courtney {
    height: 100%;
    width: 100%;
    position: relative;
    padding-right: 300px;
    border-left: none;
    padding-top: 50px;
    border-top: 1px solid rgba(243, 237, 237, 0.47);
    border-bottom: 1px solid rgb(243, 237, 237);
    padding-left: 100px;
    padding-bottom: 50px;
    margin-right: 40px;
    display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
    line-height: 25px;
    letter-spacing: 1px;
}

.team-lisa {
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 300px;
    border-left: none;
    padding-top: 50px;
    border-top: 1px solid rgba(243, 237, 237, 0.47);
    border-bottom: 1px solid rgb(243, 237, 237);
    padding-right: 100px;
    padding-bottom: 50px;
    margin-left: 40px;
    display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
    line-height: 25px;
    letter-spacing: 1px;
}

.cindy-name {
    color: lightcoral;
    width: 100%;
    font-size: 26px;
    margin-top: 40px;
    margin-left: 800px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.lisa-name {
    color: lightcoral;
    width: 100%;
    font-size: 26px;
    margin-top: 40px;
    margin-left: 1750px;
    letter-spacing: 2px;
    font-weight: lighter;
}