.admin {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
}

.standard {
	height: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.twilight {
	height: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.logout-buttontheme {
	padding-left: 45px;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	font-size: 10px;
	color: #5E5C5C;
	letter-spacing: 4px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	outline: none;
}

.logout-buttontheme:hover {
	color: lightcoral;
}

.invoices {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
}

.empty-space {
	width: 100%;
	height: 80px;
}

.invoice-box {
	border: 1px solid rgb(141, 139, 139);
	padding: 10px;
	margin: 10px;
	width: 250px;
	height: 350px;
}

.delete {
	width: 35%;
	height: 30px;
	outline: none;
	letter-spacing: 1px;
}

.delete:hover {
	background-color: rgb(189, 184, 184);
	color: white;
	border: none;
}