body {
  margin: 0;
}

.first-box {
  padding: 65px 0px 0px 0px;
}

.banner {
  background: linear-gradient(to right, #FFFFFF, white, rgba(255, 255, 255, 0.47), transparent, transparent), url('https://i.imgur.com/Aa3bTI8.jpg') no-repeat center;
  background-size: cover;
  padding-top: 20%;
  transition: 2s ease;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 380px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .banner {
    background-image: url('https://imgur.com/vz4ZqQi.jpg');
    background-size: cover;
  }
}

.banner-img {
  padding: 50px 130px 0px 210px;
}

.logo-name {
  font-size: 13px;
  letter-spacing: 20px;
  padding-left: 165px;
  margin-top: 1;
  padding-bottom: 90px;
  color: #5D5A5A;
  font-weight: lighter;
}

.Pic {
  width: 400px;
  height: 250px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  position: relative;
  background-color: #FFF;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.Pictures {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

a {
  color: #565252;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 4px;
  font-weight: lighter;
}

.scroll-contain {
  width: 100%;
  text-align: center;
}

.firstpic {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #434141;
}

.Pic:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: lighter;
}

.peopleLOVE {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  border: 1px solid black;
}

.peopleloveus {
  color: lightcoral;
}

.testimonial-text h4 {
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: lighter;
  padding-top: 15px;
  color: white;
}

.testimonial-name {
  font-size: 13px;
  font-weight: bold;
  padding-left: 350px;
  color: white;
}

.Testimonials-container {
  width: 96%;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
}

.Testimonials {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 28px;
}

.testmonial-box {
  width: 76%;
  height: 200px;
  background: rgba(210, 180, 140, 0.562);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.171);
}

.testimonial-photo {
  width: 135px;
  height: 65%;
  background: rgba(255, 255, 255, 0.00);
  margin-top: 60px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.arrow-left {
  margin-top: 110px;
}

.arrow-right {
  margin-top: 110px;
}

.test-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.testimonial-text {
  width: 80%;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.quote-left {
  margin-bottom: 80px;
  margin-right: 25px;
}

.quote-right {
  margin-top: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 8px;
  letter-spacing: 6px;
  font-weight: bold;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  line-height: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 7px 0px 0px rgba(142, 140, 140, 0.20);
  padding: 12px 16px;
  z-index: 1;
  text-align: center;
  font-size: 8px;
  letter-spacing: 6px;
  font-weight: bold;
  width: 30%;
  line-height: 30px;
  margin-top: 17px;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Bathroom:hover {
  color: lightcoral;
}

.Bedroom:hover {
  color: lightcoral;
}

.livingRoom:hover {
  color: lightcoral;
}

.Kitchen:hover {
  color: lightcoral;
}

.signup-buttontheme {
  padding-left: 45px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 10px;
  color: #5E5C5C;
  letter-spacing: 4px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  outline: none;
}

.signup-buttontheme:hover {
  color: lightcoral;
}