.Nav-bar {
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
    align-content: space-between;
    font-size: 9px;
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    font-weight: bold;
  }
  
  .logo {
  padding-left: 45px;
  }
  
  .Who {
    padding-left: 45px;
  }
  
  .What {
    padding-left: 45px;
  }
  
  .contacts {
    padding-left: 45px;
  }
  
  .prices {
    padding-left: 45px;
  }
  
  .testimonials {
    padding-left: 45px;
  }
  
  .insta-img {
    margin: 0;
    padding-left: 45px;
  }