.app{
  background-image: url('https://giphy.com/gifs/2o1eDUHEP6T1C/html5');
}

.first-box {
  padding: 80px 0px 40px 00px;
}


.Nav-bar {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
  align-content: space-between;
  font-size: 9px;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  font-weight: bold;
}

.logo {
padding-left: 45px;
}

.Who {
  padding-left: 45px;
}

.What {
  padding-left: 45px;
}

.contacts {
  padding-left: 45px;
}

.prices {
  padding-left: 45px;
}

.testimonials {
  padding-left: 45px;
}

.insta-img {
  margin: 0;
  padding-left: 45px;
}

.banner {
  padding-top: 80px; 

  background: linear-gradient(to right, #FFFFFF, white, rgba(255, 255, 255, 0.47), transparent, transparent), url('https://i.imgur.com/1vJrTS4.jpg') no-repeat center; 
  background-size: cover; 


}

.banner-img {
  padding: 50px 130px 0px 210px;
}

.logo-name {
  font-size: 13px;
  letter-spacing: 20px;
  padding-left: 165px;
  margin-top: 1;
  padding-bottom: 90px;
  color: #5D5A5A;
  font-weight: lighter;
}

.Choose {
  text-align: center;
  font-size: 8px;
  letter-spacing: 6px;
  font-weight: bold;
  padding-top: 20px;
}


.Pic {
  width: 400px;
  height: 250px;
  margin-right: 40px;
  margin-left: 10px;
  margin-bottom: 30px;
  position: relative;
    background-color: #FFF;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
}


.Pictures {
  width: 100%;
  height: auto;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;  
}

/* .greypic {
  border: 2px solid #363434;
  background: linear-gradient(to right, #FFFFFF, white, rgba(255, 255, 255, 0.47), transparent, transparent), url('https://i.imgur.com/Meigvk4.jpg') no-repeat center; 
  background-size: cover; 
} */


.footer-container {
  width: 100%;
  height: 200px;
  background-color: rgba(178, 173, 173, 0.23);
  letter-spacing: 4px;
  float: left;
  -webkit-box-shadow: -27px -19px 300px -28px rgba(209,209,209,0.21);
  -moz-box-shadow: -27px -19px 300px -28px rgba(209,209,209,0.21);
  box-shadow: -27px -19px 300px -28px rgba(209,209,209,0.21);
}

.contactUs {
  padding: 60px 0px 20px 200px;
  font-size: 11px;
  font-weight: bold;
}

.footer-title {
  padding: 0 0 9px 200px;
  font-size: 9px;
  font-weight: lighter
}

.phone {
  padding: 0 0 9px 200px;
  font-size: 9px;
  font-weight: lighter
}

.email {
  padding: 0 0 0px 200px;
  font-size: 9px;
  font-weight: lighter
}
 

.scroll-contain {
  width: 100%;
  text-align: center;
}

a {
  color: #565252;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 4px;
  font-weight: lighter;
}